/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
margin: 0px;
padding: 0px;
}

a:link {
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

body {
	
	background: #FFFFFF url(../images/back_all.gif) repeat-x;
	font: 13px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}

#content
{
	margin: 0 auto;
	width: 896px;
}


#header {
	height: 300px;
	width: 896px;
}

#menu1
{
width: 556px;
padding-left: 340px;
background:url(../images/menu1.gif) no-repeat;
}

#menu
{
width: 600px;
height: 70px;
background: url(../images/menu2.gif) repeat-x;
}

#menu ul {
	list-style: none;	
}

#menu li {
	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 100px;
	height: 45px;
    display: block;
	text-align: center;
	text-decoration: none;
	color: #4889D7;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 22px;
	background: url(../images/button.gif) no-repeat;
}

#menu a:hover {
	width: 100px;
    height: 45px;
	color: #ff0000;
	text-decoration: underline;
	background: url(../images/button.gif) no-repeat;
}


.more
{
text-align: right;
}


#logo {
width: 876px;
height: 210px;
text-align:  right;
padding-right: 20px;
padding-top: 20px;

}


#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #ffffff;
}
#logo H2 a
{
font-size: 12px;
}

#main
{
background: url(../images/header_bottom.jpg) no-repeat right top
}

#left
{
	padding-left: 10px;
	width: 319px;
	background: url(../images/header_coner.jpg) no-repeat;
}

#top
{
background: url(../images/top.gif) no-repeat;
width: 319px;
height: 9px;
}

#left_back
{
background: url(../images/back.gif) repeat-y;
}

#bottom
{
background: url(../images/bottom.gif) no-repeat;
height: 41px;
width: 319px;
}

#left H3
{
width: 300px;
height: 40px;
font-size: 14px;
font-weight: bold;
padding-left: 19px;
padding-top: 15px;
text-transform: uppercase;
color: #ffffff;
background: url(../images/title.gif) no-repeat
}


#left ul {
	list-style: none;
}

#left li ul {
	border: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}

#left li li {
	padding: 4px 15px;
    background: url(../images/small.gif) no-repeat left;
}

#left .title_back
{
padding: 10px;

text-align:center
}


#left a {
	color: #23609C;
}
#left a:visited {
	color: #23609C;
}

#left p
{
padding: 10px;
padding-left: 40px;
}


#calendar1 {
	padding: 0 10px 20px 10px;
}

#calendar table {
	width: 100%;
	text-align: center;
}

#calendar thead {

}

#calendar tbody td {
	border: 1px solid #F1F1F1;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #now {
	background: #696969;
	border: 1px solid #ff0000;
	font-weight: bold;
	color: #ffffff
}

#right
{
float: right;
width: 540px;
padding-top: 60px;
padding-right: 10px;
}

#right .box
{
border: 1px solid #C9C9C9;
background: #ffffff;
padding: 10px;
margin-bottom: 10px;
}

#right ol, #right ul
{
margin-left: 30px;
}

#right H4
{
	margin: 0;
	padding: 0px;
	font-size: 12px;
	color: #23609C;
}

#right a
{
color: #4889D7;
text-decoration: none;
}

#right p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

#right .date2 {
	margin: 10px;
	padding: 0;
	padding-top: 5px;
}

#right h2 {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	color: #4889D7;
}
.date {
	text-align: right;
	color: #4889D7;
	font-size: 11px;
}

.date a {
	color: #23609C;
}


#footer {
	height: 60px;
	clear: both;
	padding-top: 30px;
	background: url(../images/footer.gif) repeat-x; 
}

#footer p {
	margin: 0;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
}


#newsdiv
{
border:#000 dotted 1px;
background:#CCC;
}

#newsdiv .news_head
{
font-weight:bold;
color:#00F;
}

#newsdiv  .news_desc
{
text-align:justify;
line-height:20px;
}

.paging a
{
	color:#000;
	text-decoration:none;
	border:1px solid #09F;
	padding:3px;
	font-weight:bold;
}

.paging a:hover
{
	color:#F00;
	font-weight:bold;
}